<div id="dcHead">
 <div id="head">
  <div class="logo"><a href="index.php"><img src="images/dclogo.gif" alt="logo"></a></div>
  <div class="nav">
   <ul>
    <li><a href="index.php?rec=clear_cache">{$lang.clear_cache}</a></li>
   </ul>
   <ul class="navRight">
    <li class="M noLeft"><a href="JavaScript:void(0);">{$lang.top_welcome}{$user.user_name}</a>
     <div class="drop mUser">
      <a href="manager.php?rec=edit&id={$user.user_id}">{$lang.top_manager_edit}</a>
      <a href="manager.php?rec=cloud_account">{$lang.cloud_account}</a>
     </div>
    </li>
    <li class="noRight"><a href="login.php?rec=logout">{$lang.top_logout}</a></li>
   </ul>
  </div>
 </div>
</div>
<!-- dcHead 结束 -->